<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>倒放挑战</title>
    <link href="app.css" rel="stylesheet" type="text/css">
    <script src="../../static/script/vue@2.7.16/vue.min.js"></script>
</head>
<body>
<div id="app">
    <button @click="record" id="record-button" :class="state">
        <template v-if="state==='inactive'">开始录音</template>
        <template v-else>录音中({{recordingSec}}秒)</template>
    </button>
    <div id="records">
        <div v-for="(item, index) in records" class="record-item">
            <div class="no">{{index + 1}}</div>
            <div style="flex:1">{{item.duration}}秒</div>
            <div style="flex:2;text-align: right;">
                <button @click="play(item)">正放</button>
                <button @click="reversePlay(item)">倒放</button>
                <button @click="deleteRecord(index)" style="color: red">X</button>
            </div>
        </div>
    </div>
</div>

<script src="app.js"></script>

</body>
</html>
