<!-- wp:html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KXBlog sorting algorithm online demonstration</title>
    <meta name="description" content="Sorting algorithm,排序算法演示,排序算法,排序演示,KXBlog"/>

    <script src="../../static/script/vue@2.7.16/vue.min.js"></script>
    <script src="i18n.js"></script>
    <link rel="stylesheet" type="text/css" href="sort.css">
</head>
<body>
<div id="app" :style="'display:flex'">
    <div id="left">
        <div id="title">
            <b id="title-name">{{state===stateMap.idle ? i18n.title : selectSort[language=='cn'?'name':'nameEn']}}</b>
            <span>{{title}}</span>
            <span id="uri">{{uri}}</span>
        </div>
        <div id="sort" ref="sort" :class="horizon ? 'sort-horizon' : 'sort-vertical'"
             :style="{'--sort-node-transition': cssSortNodeTransition}">
            <!-- <div v-for="(item,i) in data" :style="getDataStyle(item, i)" :key="i"></div>-->
        </div>
    </div>
    <div id="control" ref="control">
        <h3>{{i18n.title}}</h3>
        <div><b>Language</b>:
            <button @click="language='en';saveConfig('language', language)" :disabled="language==='en'">English
            </button>
            <button @click="language='cn';saveConfig('language', language)" :disabled="language==='cn'">中文</button>
        </div>
        <div>
            <label>
                <b>{{i18n.dataNumber}}</b>:
                <input type="number" v-model.number="defaultDataNumber"
                       :step="getInputStep(defaultDataNumber)" min="1" max="1000"/>
                <div class="mobile-inline">
                    <button @click="defaultDataNumber-=getInputStep(defaultDataNumber)">-</button>
                    <input type="range" :value.number="defaultDataNumber"
                           @change="(e)=> defaultDataNumber = parseInt(e.target.value)" min="1" max="1000"/>
                    <button @click="defaultDataNumber+=getInputStep(defaultDataNumber)">+</button>
                </div>
            </label>
        </div>
        <div>
            <label>
                <b>{{i18n.dataGenerateType}}</b>:
                <select v-model="dataGenerateType">
                    <option value="random">{{i18n.dataGenerateTypes.continuousRandom}}</option>
                    <option value="fullRandom">{{i18n.dataGenerateTypes.completelyRandom}}</option>
                    <option value="ascend">{{i18n.dataGenerateTypes.ascend}}</option>
                    <option value="descend">{{i18n.dataGenerateTypes.descend}}</option>
                </select>
            </label>
        </div>
        <div>
            <label>
                <b>{{i18n.showSpeed}}</b>:
                <input type="number" v-model.number="speed" :step="getInputStep(speed)" min="1"
                       max="100000"/>
                <div class="mobile-inline">
                    <button @click="speed-=getInputStep(speed)">-</button>
                    <input type="range" v-model.number="speed" min="1" :max="defaultDataNumber * 50"/>
                    <button @click="speed+=getInputStep(speed)">+</button>
                </div>
            </label>
        </div>
        <div>
            <label>
                <b>{{i18n.sortAlgorithm}}</b>:
                <select v-model="selectSortType">
                    <option v-for="(item,key) in allSort" :value="key"
                            v-text="language=='cn' ? item.name : item.nameEn"></option>
                </select>
            </label>
        </div>
        <div v-if="selectSort?.config">
            <b>配置参数</b>:
            <div v-for="(config, key) in selectSort.config">
                <label>
                    {{key}}:
                    <input v-if="config.type==='number'" v-model.number="config.value"
                           :min="config.min" :step="config.step" type="number" @change="sortConfigCheck(config)">
                    <select v-else-if="config.type==='select'" v-model="config.value">
                        <option v-for="(item,key) in config.options" :value="key" v-text="item"></option>
                    </select>
                </label>
            </div>
        </div>
        <template v-if="selectSortType">
            <div id="control-buttons">
                <b>{{i18n.console}}</b>:
                <button @click="pause()" v-if="state===stateMap.sorting">{{i18n.pause}}</button>
                <button @click="play()" v-else-if="state===stateMap.paused">{{i18n.continue}}</button>
                <button @click="start()" v-else-if="state===stateMap.idle">{{i18n.start}}</button>
                <button @click="next()" v-if="state!==stateMap.sorting">{{i18n.nextStep}}</button>
                <button @click="stop" v-if="state!==stateMap.idle" style="color:orangered">{{i18n.stop}}</button>
            </div>
            <div>
                <b>{{i18n.state}}</b>: <span v-text="i18n.states[state]"></span>
            </div>
            <div>
                <label>
                    <input type="checkbox" v-model="sound" @change="saveConfig('sound', sound)"/>{{i18n.sound}}
                </label>
                <label>
                    <input type="checkbox" v-model="horizon" @change="saveConfig('horizon', horizon)"/>{{i18n.horizon}}
                </label>
            </div>
            <div v-if="selectSort.desc && language === 'cn'">
                <b>{{i18n.algorithmDesc}}</b>: <span v-text="selectSort.desc"></span>
            </div>
            <div v-if="selectSort.timeCom">
                <b>{{i18n.timeComplexity}}</b>: <span v-text="selectSort.timeCom"></span>
            </div>
            <div v-if="selectSort.spaceCom">
                <b>{{i18n.spaceComplexity}}</b>: <span v-text="selectSort.spaceCom"></span>
            </div>
            <div v-if="selectSort.stable !== undefined">
                <b>{{i18n.isStable}}</b>: <span
                    v-text="selectSort.stable? i18n.yes: i18n.no"></span>
            </div>
        </template>
        <p v-show="defaultDataNumber > 500">
            <b>{{i18n.tip}}</b>: <span> {{i18n.tipDesc}} </span>
        </p>
        <p>
            <b>{{i18n.note}}</b>: {{i18n.noteDesc}}
        </p>
        <div id="colorLabel">
            <div><b style="color:dodgerblue">━━━━</b> {{i18n.lineMark}}</div>
            <div><b style="color:red">━━━━</b> {{i18n.lineUpdate}}</div>
            <div><b style="color:green">━━━━</b> {{i18n.lineFinished}}</div>
        </div>
        <div>
            <a href="/">Home</a>
            <a href="https://github.com/wweyoung/wweyoung.github.io" target="_blank">GitHub</a>
        </div>
    </div>
</div>
<script src="sort.js"></script>
</body>
</html>

<!-- /wp:html -->