body {margin:0;}
body.dark {background:#282828;}
body,td,select {font-family:arial; font-size:12px; color:black;}
body.dark,.dark td,.dark th,.dark select {color:#ccc;}
a:link, a:active, a:visited {text-decoration:none; color:#009;}
.dark a:link, .dark a:active, .dark a:visited {text-decoration:none; color:#99c;}
a:hover, .dark a:hover {text-decoration:underline;}
a.selbold {color:black; font-weight:bold;}

input, select, textarea {padding:1px;}
.dark input, .dark select, .dark textarea {padding:2px; background-color:#111; color:#ccc; border-color:#999; border-style:solid; border-radius:3px; border-width:1px;}

.felogo {filter: drop-shadow(1px 1px 0px #dddddd);}
.dark .felogo {filter:  brightness(2);}
#lfamilyname {color:#7F2020;}
.dark #lfamilyname {color:#d65c5c;}
#lfamilyinfo {font-size:12px;}
#lfamilylabels {font-size:14px;}
.lfamilylabel {color:white; padding:3px 5px; border-radius:5px; background:linear-gradient(to right, #B8860B, #CD950C, #B8860B);}
#footerlang img {width:16px; height:16px; vertical-align:middle; margin-right:4px;}
#langoverlay {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.5); justify-content:center; align-items:center;}
#langcontent {background:white; padding:16px; border:1px solid #999; max-height:80%; max-width:80%; overflow:auto; position:relative;}
#langlist {font-size:125%; columns:3; column-gap:2em; line-height:1.4em;}
#langclose {float:right; font-weight:bold; text-decoration:none; font-size:150%;}
#langtitle {font-size:150%; margin-bottom:1em;}
#langfooter {font-size:125%; margin-top:1em;}

.lbody {background-color:#e8e8e8;}
.dark .lbody,.dark.lbody {background-color:#111;}
.rbody {background-color:white;}
.dark .rbody {background:#282828;}
.mbody {background-color:#ddddff; border:outset #666666 2px; padding:16px;}
.dark .mbody {background:#111; border:#999 2px solid;}
.fullsize {width:100%; height:100%;}
.bordered {border:solid #666 1px;}
.dark .bordered {border-color:#999;}
.bordertop {border-top:solid #666 1px;}
.dark .bordertop {border-color:#999;}

.dark #treediv {background-color:#282828;}
#fadediv {background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));}
.dark #fadediv {background-image: linear-gradient(to bottom, rgba(40,40,40,0), rgba(40,40,40,1));}

.tm {margin-top:12px; margin-bottom:0;}
.td {margin-top:24px; margin-bottom:0;}
.tt {margin-top:36px; margin-bottom:0;}
.pt {margin-top:12px; margin-bottom:24px; text-align:center; font-weight:bold; font-size:20px;}

.hiderows {display: none;}
.showrows {display: block; display:table-row-group;}

.dline,.ddotted,.ddashed {position:absolute; font-size:0; line-height:0%;}
.dline {background-color:#444;}
.dark .dline {background-color:#bbb;}
.dline.gray {background-color:#bbb;}
.dark .dline.gray {background-color:#666;}
.ddotted {border-top:dotted; border-left:dotted;}
.ddashed {border-top:dashed; border-left:dashed;}
.ddotted,.ddashed {border-color:#444;}
.dark .ddotted, .dark .ddashed {border-color:#bbb;}
.ddotted.gray, .ddashed.gray {border-color:#bbb;}
.dark .ddotted.gray, .dark .ddashed.gray {border-color:#444;}

.dp {position:absolute; text-align:center; overflow-wrap: break-word;}
.dpt {position:absolute; bottom:4px; left:4px; right:4px;}
.dpb {position:absolute; top:4px; left:4px; right:4px;}
.dbox {border-radius:8px; border: solid #222; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.dark .dbox {border-color:#ddd; box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.09);}
.dcell {text-align:center; overflow:hidden;}
.dcell img {outline:1px solid #888; outline-offset:-1px;}
.dc {display:block; border:0 solid #000; border-width:0 1px;}
.di {position:absolute; cursor:pointer; overflow:hidden;}

.sname {font-size:18px; font-weight:bold; color:#000000; text-align:center;}
.dark .sname {color:#ccc;}
.sdefname {font-size:18px; color:#666666; text-align:center;}
.simage {border:1px #666666 solid;}
.snormal {padding:2px 4px 2px 4px;}
.sleft {color:#222222; padding:2px 2px 2px 6px; text-align:end; padding-inline-start:6px; padding-inline-end:2px;}
.dark .sleft {color:#bbb;}
.sright {width: 210px; padding:2px 6px 2px 2px; padding-inline-start:2px; padding-inline-end:6px;}
.sboth {padding:2px 4px 2px 4px; text-align:center;}
.sfield {width:176px; font-family:arial; font-size:12px;}
.sfieldexpand {width:160px; font-family:arial; font-size:12px;}
.syear {width: 4em;}
.sselect {font-family:arial; font-size:12px; max-width:240px;}
.ibutton, .sbutton, .sbutton2, .sbutton4 {font-family:arial; font-size:12px; padding:1px 2px; text-overflow:ellipsis;}
.sbutton {width:240px;}
.sbutton2 {width:112px;}
.sbutton4 {width:52px;}
.spanel {border-left:solid #666666 1px; border-right:solid #666666 1px; border-bottom:solid #666666 1px;}
.sswitch {padding-bottom:4px; border-bottom:solid #666666 1px; padding-left:5px; padding-top:5px; padding-right:5px;}
.sswitched {padding:4px; padding-bottom:5px; border-left:solid #666666 1px; border-top:solid #666666 1px; border-right:solid #666666 1px; }
.sswitch,.sswitched {word-break:break-all;}
.slist {background:white;}
.dark .slist {background:#282828;}
.slist a,.slist div {padding:2px 4px; display:block; color:#000;}
.slist a:hover {background:#ddd; text-decoration:none;}
.dark .slist a:hover {background:#444;}
a.sdatelink:hover {text-decoration:none;}
.snameedit {width:240px; text-align:center;}
.snamelist {width:240px; height:20em; padding:2px 0; background:#fff; border:1px solid black; text-align:start; overflow-x:hidden; overflow-y:auto; display:inline-block;}
.dark .snamelist {background:#282828;}
.snamelist a,.snamelist div {padding:2px 4px; display:block; color:#000;}
.snamelist a:hover {background:#ddd; text-decoration:none;}
.dark .snamelist a:hover {background:#444;}
.snamelist a.snamesel {background:#bbb;}
.dark .snamelist a.snamesel {background:#333;}

.icon {width:22px; height:22px; border:0; margin-left:2px;}
.dark .icon {filter:invert(100%); opacity:0.8;}
.iconlabel,#optionslinktext {margin-left:4px; margin-right:2px;}
.cornerbtn {width:16px; height:16px; margin:8px; cursor:pointer;}
.dark .cornerbtn {filter:invert(100%);}
.marginon {left:0; top:0; height:100%; margin-right:320px; margin-left:0;}
.marginoff {left:0; top:0; height:100%; margin-left:0; margin-right:0;}
.dright {position:absolute; left:0; width:100%}
.dleft {position:absolute; right:0; top:0; width:320px;transition: width .3s; border-right:solid #666666 1px; height:100%; overflow-y:auto;}

.option {height:16%; vertical-align:middle;}
input[type=range] { vertical-align:middle; padding-top:4px; padding-bottom:4px; }
input[type=range]::-ms-tooltip { display: none; }
input[type=checkbox] { vertical-align:middle; position:relative; top:-1px;}
input[type=radio] { vertical-align:middle; margin-top:-2px; }
input[type=color] { height:24px; }

.cleft {}
.cright {vertical-align:middle; width:6em; margin:1px 0;}
.creset {font-size:80%;}

.lleft {}
.lright {margin:1px 0;}

.oleft {}
.oright {width:6em; margin:1px 0;}

.pi {margin:0;}
.ps {font-weight:bold; margin:0;}
.ps a {text-decoration:none; cursor:pointer; color:black;}
.pr {font-size:150%; margin:0;}
.pa {font-size:200%; margin:0 0 6px 0;}
.pl {background:#f4f4f4; border:1px solid #ddd; padding:8px 16px; margin:6px 0;}
.dark .pl {background:#1c1c1c; border-color:#999}

.ct {width:100%; margin-top:-12px;}
.cm {text-align:center; font-weight:bold; font-size:15px; padding:18px 0 6px 6px; padding-inline-start:6px; padding-inline-end:0;}
.cl {text-align:right; padding:1px 0 1px 6px; vertical-align:baseline; font-weight:bold; padding-inline-start:6px; padding-inline-end:0;}
.cr {padding:1px 4px; vertical-align:baseline;}
.hg {margin:6px 0;}

.fboth {padding:3px 6px 3px 6px;}
#fileattachrows .snameedit, #fileattachrows .snamelist, #fileattachrows select {width:100%;}
.fattachsel {padding-bottom:4px;}
.fattachpm {white-space: nowrap; padding-left:0; text-align:right;}
.fattachpmlink {font-size:18px; font-weight:bold;}
a.fattachpmlink:hover {text-decoration:none;}

#filestable {position:relative; border-collapse:collapse; border-spacing:0;}
#filestable th, .filesrow > td {font-size:14px; padding-top:6px; padding-bottom:6px; text-align:start; box-sizing:border-box;}
#filestable th {font-weight:bold; position:sticky; top:0; background:white; border-bottom:1px #ccc solid; vertical-align:middle;}
.dark #filestable th {background:#111;}
.filesrow > td {vertical-align:top;}
#filesheader a {color:black;}
.dark #filesheader a {color:#ccc;}
#filesrows > tr:nth-child(odd) {background: #eee;}
.dark #filesrows > tr:nth-child(odd) {background: #191919;}
.fname {padding-left:9px; padding-right:6px; padding-inline-start:9px; padding-inline-end:6px; width:25%;}
.fdesc, .fattach {padding-left:6px; padding-right:6px;}
.fdesc {width:35%;}
.fattach {width:25%;}
.fattach .snameedit, .fattach .snamelist {width:100%;}
.ftype, .fsize, .fuploaded, .fbuttons {white-space:nowrap; padding-left:12px; padding-right:6px; padding-inline-start:12px; padding-inline-end:6px;}
.fbuttons {width:5%; padding-inline-end:12px;}
#filesrows .fnone {padding:16px; font-style:italic; text-align:center; background:white;}
#filestable textarea {font-family:arial; font-size:14px; padding:2px; vertical-align:top;}

#uploaddiv td {font-size:14px;}
#uploaddiv textarea, #uploadattachrows input {font-family:arial; font-size:14px;}
.uleft {text-align:end;}
#uploadattachrows .snameedit, #uploadattachrows .snamelist, #uploadattachrows select {width:100%;}
#uploadattachrows .fattachsel {width:100%;}
#uploadattachrows .fattachpm {padding-inline-start:8px;}
#uploaddiv input[type=submit] {padding:3px 6px;}

.blankpixel {background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw== );}

@media screen and (max-width:400px) {

}

.nshrink1 .iconlabel {display:none;}
.nshrink2 #showzoom {display:none;}
.nshrink3 #backto {display:none;}
.nshrink4 #optionslinktext {display:none;}
.nshrink5 .buttondash {display:none;}
